// Hackney template colours

$hackney-green:   #06644B;
$hackney-green-2: #0AA44C;
$hackney-green-3: #7AB92C;
$hackney-green-4: #A9CD75;

$proposition-border: #2e3133;
// Based on GOV.UK brand blue but slightly lighter so it hits contrast on the
// black header bar when used as copy colour.
$proposition-active-nav: #1d8feb;

$footer-background: $hackney-green;
$footer-border-top: $hackney-green-3;
$footer-link: $hackney-green-4;
$footer-link-hover: white;
$footer-text: $footer-link;




// Semantic colour names
$link-colour: $hackney-green;
$link-active-colour: lighten($hackney-green, 10%);
$link-hover-colour: lighten($hackney-green, 10%);
$link-visited-colour: darken($hackney-green, 10%);
$button-colour: #00823b;
$focus-colour: $yellow;
$text-colour: $black;             // Standard text colour
$secondary-text-colour: $grey-1;  // Section headers, help text etc.
$border-colour: $grey-2;          // Borders, seperators, rules, keylines etc.
$panel-colour: $grey-3;           // Related links panel, page footer etc.
$canvas-colour: $grey-4;          // Page background
$highlight-colour: $grey-4;       // Table stripes etc.
$page-colour: $white;             // The page
$discovery-colour: $govuk-blue;   // Discovery badges and banners
$alpha-colour: $govuk-blue;       // Alpha badges and banners
$beta-colour: $govuk-blue;        // Beta badges and banners
$live-colour: $grass-green;       // Live badges and banners
$banner-text-colour: #000;        // Text colour for Alpha & Beta banners
$error-colour: $red;              // Error text and border colour
$error-background: #fef7f7;       // Error background colour
